.CreateTodoButton{
    background-image: url(../assets/plus.png);
    background-size: contain;
    /* border-style: none; */
    border-radius: 50%;
    text-align: center;
    z-index: 10;
    height: 50px;
    width: 50px;
    font-size: 10px;
    padding: 0;
    font-weight: 100;
    color:#8224b7;
    border-color: transparent;
}
.CreateTodoButton:active{
    background-color: #fbd155;
}