.listButtonsPlus{
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    height: fit-content;
    padding: 0;
    color:#8224b7;
}
.listButtonsMinus{
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    height: fit-content;
    padding: 0;
    color:#8224b7;
}
.listButtonsPlus:active{
    background-color: #ffe2a973;
    border-radius: 10px;
}
.listButtonsPlus:disabled{
    opacity: 50%;
}
.listButtonsMinus:active{
    background-color: #ffe2a973;
    border-radius: 10px;
}
